*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.gameBoard{
    background-color: darkslategray;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}

.cell{
    width: 60px;
    height: 60px;
    background-color: aqua;
    border: 2px solid rebeccapurple;
    cursor: pointer;
    color: darkslategray ;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
}

h1{
    text-align: center;
    background-color: aqua;
}